<a href="https://colab.research.google.com/github/yamsunar089/YAMcn6005_portfolio/blob/main/week1%2CLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Lab tutorial Python

In this lab, I learned the basic concepts of Python lists and Pandas DataFrames. I created a DataFrame using a dictionary and understood how data can be stored in rows and columns using Pandas. This helped me see how Python can be used to organise and display structured data easily.

I also practiced working with lists, such as accessing elements using index values, including negative indexing to get elements from the end of a list. I learned how to change values in a list and how to find the length of a list using the len() function.

Another important topic I learned was list slicing. By using the start:end:step format, I could create new lists from parts of an existing list. This helped me understand how to extract specific elements efficiently.

Finally, I learned how to use built-in list methods like count(), index(), and reverse() to search and modify list data. Overall, this lab improved my understanding of Python fundamentals, which are important for data analysis and programming tasks.

In [ ]:
import pandas as pd
data ={'name':['john','Emma','liam'], 'Age':[25, 28,22]}
df = pd.DataFrame(data)
print(df)

   name  Age
0  john   25
1  Emma   28
2  liam   22

List(Array)

In [ ]:
list1 = [2,-3,0,4,1] #Assign list
print(list1)         #print the list
print(list1[0])     #print the index 0 first element
list1[1] = 7        #change the value at 1st index second element
print(list1)

[2, -3, 0, 4, 1]
2
[2, 7, 0, 4, 1]

negative list index

In [ ]:
data = [10,20,30,40,50,60]
print(data[-1], data[-4]) #access to first and 4th element from end of list
n = len(data)              # get the length of list(output: n=6)
print(data[n-1], data[n-4]) # Accesss to 1st and 4th elements from the end of list

60 30
60 30

**Slicing**

 We can make a new list from a portion of an existing
list using a technique known as slicing. A list slice is an
expression of the form.
list[begin:end:step]
• begin is an integer representing the starting index of a
subsequence of the list.
• end is an integer that is one larger than the index of
the last element in a subsequence of the list.
• step is an integer that specifies the stride size through
the list.

In [ ]:
lst = [10,20,30,40,50,60,70,80,90,100,110, 120]
print(lst) #[10,20,30,40,50,60,70,80,90,100,110,120]
print(lst[:])# [10,20,30,40,50,60,70,80,90,100,110,120]
print(lst[0:3:1])#[10, 20, 30]
print(lst[4:8])#[50, 60, 70, 80]
print(lst[2:5])#[30,40,50]
print(lst[-5: -3])#[80,90]
print(lst[:3])#[10,20,30]
print(lst[4:])#[50,60,70,80,90,100,110,120]
print(lst[4:100])#[50,60,70,80,90,100,110,120]
print(lst[2:-2:2])#[30,50,70,90]
print(lst[::2])#[10,30,50,70,90,110]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
[10, 20, 30]
[50, 60, 70, 80]
[30, 40, 50]
[80, 90]
[10, 20, 30]
[50, 60, 70, 80, 90, 100, 110, 120]
[50, 60, 70, 80, 90, 100, 110, 120]
[30, 50, 70, 90]
[10, 30, 50, 70, 90, 110]

List Element Removal
	We can use del to remove a specific element from a list via its index.

In [ ]:
a=list(range(20))
a
del a[5:15]
a
b= list(range(10,52,8)) #range(first value:last value :step)
b
del b[0], b[3]
b

[18, 26, 34, 50]

List methods

In [ ]:
fruits =['orange' , 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')
fruits.count('tangerine')
fruits.index('banana')
fruits.index('banana', 4) # find next banana starting a position 4
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

Nested List

In [ ]:
#creating a multi-dimentional list
#(By Nesting a list inside a list)
biglist = ['Element11',['Python','Workshop'],'apple']
print(biglist)
print('Entries are')
print('Java','Css','javascript','Python')
print(biglist[0])
print(biglist[1])
print(biglist[2])

['Element11', ['Python', 'Workshop'], 'apple']
Entries are
Java Css javascript Python
Element11
['Python', 'Workshop']
apple